@page
@model CarsGame.WebApp.Pages.Admin.Cars.UpdateModel
@{
}
<form method="post">
    <div class="form-group">
        <label asp-for="Car.Make"></label>
        <input asp-for="Car.Make" class="form-control" />
        <span asp-validation-for="Car.Make" name="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="/Admin/Cars/Index" class="btn btn-primary" role="button">Back</a>
    </div>
</form>
